@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(47, 47, 47);
}

/* HEADER */

header{
    display: flex;
    width: 100% ;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.button{
    display: none;
}

.menu-mobile{
    display: none;
}

.color2{
    background-color: rgb(58, 58, 58);
}

.logo-m{
    display: none;
}




.search-bar{
    justify-content: center;
}


.search-bar input{
    height:  35px;
    width: 200px;   
    border-radius: 15px;
    padding: 0px 5px;
    
}

.cart{
    display: flex;
    margin: 0px 50px;
}

.profile{
    border-radius: 110%;
    margin: 0px 10px;
    border: 2px white solid;
}

.cart img{
    cursor: pointer; 
    width: 50px;
}



/*menu links*/ /*BROKEN BEFORE BOOTSTAP*/

.menu-links{
    display: flex;
    width: 100%;
    height: 5%;
    background-color: white;
    justify-content: center;
   
}

.menu-links ul{
    display: flex; 
}

.menu-links ul li {
    list-style: none;
    margin-left: 5px;
    transition: all 0.5s;
    padding: 10px;
    
}

.menu-links ul li:hover{
    background-color: grey;
    border-radius: 2px;
}

.menu-links ul li a:hover{
    color: white;
}



.menu-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}



/* img de portada *//*test bootstrap*/

.carousel{
    width: 70%;
    height:50%;
    object-fit: cover;
    object-position:  50% 80%;
    margin: 30px auto;
    border-radius: 10px;
    display: flex;
    
}

/*Store items test*/

.featured-products-title {
    text-align: center;
    background-color: rgb(216, 216, 216);
    box-shadow: 5px 5px 10px rgba(245, 245, 245, 0.5);
}

.featured-product-item {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(109, 108, 108);
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.2s;
    
}


/*test de animacion - zoom in */
/*desactivar en mobile*/

.featured-product-item:hover{
    transform: scale(1.5);
    

}

.featured-product-item-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5)
}

.featured-product-item > .title {
    font-size: 20px;
    font-weight: bold;
}

.featured-product-item > .description {
    color: rgb(255, 255, 255);
}

.featured-product-item > .price {
    font-style: italic;
}

button {
    outline: none;
    background: black;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}

/* Categories*/

.categories {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.category-item:hover{
    box-shadow: 0px 0px 20px rgba(245, 245, 245, 0.5);
}

.category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category-item-inner a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
  
}

.category-item-inner a:hover{
    color: #666;
}

.category-item-inner > div {
    padding: 5px 10px;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.acc{
    margin-top: 40px;
}


/* footer */

.footer-b{
    margin-top: 50px;
}

footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}

/* media queries */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}


/*tablet*/

@media (max-width: 1000px) {
    .category-item {
        min-width: 50%;
    }
    .cart{
        display: flex;
        margin: 0px 50px;
    }
    

    

    .search-bar{
        display: none;
    }

    .menu-links{
        display: none;
    }
    
}

/*phone*/

@media (max-width: 800px) {
    .category-item {
        min-width: 100%;
    }
    .cart{
        display: flex;
        margin: 0px 10px;
    }

    .carousel{
        width: 100%;
        height:50%;
        object-fit: cover;
        margin: 30px auto;
        border-radius: 10px;
        display: flex;
        
    }

    .search-bar{
        display: none;
    }

    .button{
        display:block;
        margin-left: 10px;
        outline: red solid 2px;
    }

    .profile{
        display: none;
    }

    .menu-mobile{
        display: block;
    
    }

    .featured-product-item {
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        background-color: rgb(109, 108, 108);
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        
    }
    
    .logo{
        display:none
    }

   
   .logo-m{
       display: flex;
       margin-left: 10px;
       /*outline: blue 1px solid;*/
       
       
   }


   
   .logo-m a img{
       width: 100px;
   }

  

}

.featured-products {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 5px;
    
}





@media (max-width: 1000px) {
    .featured-products {
        grid-template-columns: repeat(2, 1fr);
    }

  


}

@media (max-width: 800px) {
    .featured-products {
        grid-template-columns: 1fr;

    }
   
}



/*titles - section names */

.sec-title{
    margin-top: 20px;
    text-align: center;
    color: white;
}











