body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(47, 47, 47);
}


/* HEADER */

header{
    display: flex;
    width: 100% ;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);


.button{
    display: none;
}

.menu-mobile{
    display: none;
}

.logo-m{
    display: none;
}

.search-bar{
    justify-content: center;
}


.search-bar input{
    height:  35px;
    width: 200px;   
    border-radius: 15px;
    padding: 0px 5px;
    
}

.cart{
    display: flex;
    margin: 0px 50px;
}

.profile{
    border-radius: 110%;
    margin: 0px 10px;
    border: 2px white solid;
}

.cart img{
    cursor: pointer; 
    width: 50px;
}

}

/*menu links*/

.menu-links {
    display: flex;
    width: 100%;
    height: 5%;
    background-color: white;
    justify-content: center; 
  
  ul {
    display: flex; }
  
  ul li {
    list-style: none;
    margin-left: 5px;
    transition: all 0.5s;
    padding: 10px; }

    ul li a {
        text-decoration: none;
        color: black;
        font-size: 1.3rem; }
    
        }
  
  ul li a {
    color: #a1a1a1;
    &:hover {
        color: #a1a1a1

        
 }
  
  
 }

 /*button*/
 nav-link {
    color: white;
    &:hover {
        color: #a1a1a1;
    }
   }














